.news-item{
    border: 1px solid #cccccc;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.news-pic{
    background: red;
    width: 20%;
}
.news-item-btn{
    width: 20%;
}
.news-info{
    width: 59%;
}
