.main-block-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    background: transparent;
    border: 0;
    font-weight: bold;
    font-size: 25px;
    color: #000000;
}
.btn:hover{
    color: rgba(55, 25, 68, 0.24);
}