.Toolbar{
    padding: 30px 0 10px 0;
    border-bottom: 2px solid #cccccc;
    background: #342e4c;
    margin-bottom: 20px;
}
.logo{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
    color: aqua;
    margin-left: 10px;
}